$primary-color: mediumslateblue;
$primary-light: cornflowerblue;
$accent-color: chocolate;
$accent-color-dark: brown;
$max-section-width: 1500px;
$std-spacing: 15px;
$std-spacing-double: #{$std-spacing * 2};
$short-anim-time: 0.2s;
$med-anim-time: 0.5s;
$breakpoint: 768px;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Krub', sans-serif;
  background: url("assets/images/bg.png") repeat fixed;
}

/**
  Header and nav styles
 */

$header-height: 90px;
$header-height-collapsed: 30px;

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: darkslateblue;
  color: cornsilk;
  text-transform: uppercase;
  z-index: 10;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.7);
  padding: $std-spacing 0;
}

header h1 {
  margin: 0 $std-spacing $std-spacing $std-spacing;
}

nav {
  display: none;
  margin: 0 $std-spacing;
}

nav a {
  display: block;
  padding: $std-spacing;
  color: white;
  text-decoration: none;
}

header h1 {
  margin: 0 0 0 $std-spacing;
}

#drawer-btn {
  cursor: pointer;
}

.none-display {
  display: none;
}

.block-display {
  display: block;
}

@media only screen and (min-width: $breakpoint) {

  header div {
    height: $header-height;
    max-width: $max-section-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h1 {
    margin: $std-spacing;
  }

  nav a {
    display: inline;
  }

  .collapse {
    animation: collapse $short-anim-time ease forwards;
  }

  .open {
    animation: open $short-anim-time ease forwards;
  }

  #drawer-btn {
    display: none;
  }

  #main-nav {
    display: block;
  }
}

@keyframes collapse {
  from {
    height: $header-height;
    line-height: $header-height;
  }
  to {
    height: $header-height-collapsed;
    line-height: $header-height-collapsed;
  }
}

@keyframes open {
  from {
    height: $header-height-collapsed;
    line-height: $header-height-collapsed;
  }
  to {
    height: $header-height;
    line-height: $header-height;
  }
}

.nav-selected {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-unselected {
  background: none;
}

/**
  Main section styles
 */

$std-img-size: 160px;
$icon-size: 120px;

main {
  margin: 0;
}

section {
  overflow: hidden;
}

.avatar {
  display: block;
  height: $std-img-size;
  width: $std-img-size;
  margin: $std-spacing auto 0 auto;
  border-radius: 50%;
  background-color: $accent-color;
}

.section-content {
  max-width: $max-section-width;
  margin-left: auto;
  margin-right: auto;
  padding-top: $std-spacing;
  padding-bottom: $std-spacing;
}

.section-content h2 {
  margin: 0 $std-spacing;
  padding-top: $std-spacing-double;
  padding-bottom: $std-spacing;
  text-align: center;
  text-transform: uppercase;
}

.section-content h3 {
  padding-bottom: $std-spacing;
  margin: 0;
  text-align: center;
}

.section-content h4 {
  margin: $std-spacing 0;
}

.white-text {
  color: white;
}

.section-tip {
  display: block;
  text-align: center;
}

#apps-section, #projects-section, #music-section {
  background-color: $primary-light;
}

#music-section h3 {
  margin-top: $std-spacing;
}

/**
  Card styles
 */

$card-border-radius: 4px;
$card-img-padding: 5px;
$card-height: 155px;

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: $std-spacing;
}

.app-card {
  position: relative;
  min-height: $card-height;
  flex-basis: 360px;
  margin: $std-spacing;
  border-radius: $card-border-radius;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-wrap: nowrap;
}

.app-card figure {
  position: relative;
  background-color: darkslateblue;
  min-height: $card-height;
  margin: 0;
  border-radius: $card-border-radius $card-border-radius 0 0;
  flex: 0 0 #{$icon-size + 2*$card-img-padding};
  width: 100%;
}

.app-card img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: $icon-size;
  max-width: $card-height;
  width: auto;
  max-height: none;
  border-radius: $card-border-radius $card-border-radius 0 0;
}

.app-card-text, .accent-card-text {
  margin: 0 $std-spacing $std-spacing $std-spacing;
  text-align: center;
}

.overlay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  transition: $short-anim-time ease;
  opacity: 0;
  border-radius: $card-border-radius;
  color: white;
}

.overlay a:link, .overlay a:hover, .overlay a:visited, .overlay a:active {
  color: white;
}

.app-card:hover .overlay {
  opacity: 0.8;
}

.accent-card {
  background-color: $accent-color;
  color: white;
  text-decoration: none;
}

.accent-card:hover {
  background-color: $accent-color-dark;
}

.accent-card figure {
  text-align: center;
  background: none;
}

.accent-card i {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}


#music-section video {
  max-width: 100%;
  height: auto;
  margin: 0 $std-spacing $std-spacing $std-spacing;
}

@media only screen and (min-width: 320px) {
  .app-card {
    flex-flow: row;
  }

  .app-card figure {
    height: 100%;
    border-radius: $card-border-radius 0 0 $card-border-radius;
  }

  .app-card img {
    width: $icon-size;
    max-height: $card-height;
    height: auto;
    max-width: none;
    border-radius: $card-border-radius 0 0 $card-border-radius;
  }

  .accent-card-text {
    margin-left: 0;
  }

  .app-card-text, .accent-card-text {
    text-align: left;
  }
}

/**
  Column styles
 */

.columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.columns > a {
  padding: $std-spacing-double;
  text-align: center;
  flex-basis: 200px;
  color: white;
  text-decoration: none;
}

.columns > a:hover {
  background-color: $primary-color;
}

.columns p {
  margin-bottom: $std-spacing-double;
}

.column-text {
  text-align: justify;
  margin: $std-spacing;
  flex-grow: 1;
}

.about-columns {
  text-align: center;
}

.about-columns > img {
  height: $std-img-size;
  width: $std-img-size;
  margin: $std-spacing;
  border-radius: 50%;
  background-color: $accent-color;
}

@media only screen and (min-width: $breakpoint) {
  .about-columns {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .columns {
    justify-content: stretch;
    flex-wrap: nowrap;
  }

  .columns > a {
    flex: 1;
    flex-basis: auto;
  }

  .column-text {
    column-count: 2;
    column-gap: 50px;
  }

  .about-columns > div {
    padding-left: 50px;
  }
}

/**
  Carousal stuff
 */

$carousal-height: calc(100vw * 0.56); //400px;
$carousal-height-max: 400px;

.exit-left {
  animation: exit-left $med-anim-time ease forwards;
}

@keyframes exit-left {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0;
  }
}

.slide-from-right {
  animation: slide-from-right $med-anim-time ease forwards;
}

@keyframes slide-from-right {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.exit-right {
  animation: exit-right $med-anim-time ease forwards;
}

@keyframes exit-right {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

.slide-from-left {
  animation: slide-from-left $med-anim-time ease forwards;
}

@keyframes slide-from-left {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.carousal {
  position: relative;
  height: $carousal-height;
  margin: 0 $std-spacing $std-spacing-double $std-spacing;
}

.carousal-slide {
  position: absolute;
  max-height: $carousal-height;
  max-width: 100%;
  display: none;
  z-index: 1;
  left: 0;
  right: 0;
  cursor: pointer;
  margin: auto;
}

.prev-btn, .next-btn {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
  color: black;
  opacity: 0.6;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.next-btn:hover, .prev-btn:hover {
  opacity: 1;
}

@media only screen and (min-width: 670px) {
  .carousal {
    height: $carousal-height-max;
  }

  .carousal-slide {
    max-height: $carousal-height-max;
  }
}

/**
  Modal window styles
 */

$modal-caption-height: 25px;

#img-enlarged {
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal-invisible {
  opacity: 0;
  visibility: collapse;
  transition: all 0.3s ease;
}

.modal-visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.zoom-in {
  transform: scale(1);
  transition: all 0.3s ease;
}

.zoom-out {
  transform: scale(0.7);
  transition: all 0.3s ease;
}

#img-enlarged figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#modal-img {
  max-width: 100%;
  max-height: calc(100% - #{$modal-caption-height} - #{3*$std-spacing});
  padding: $std-spacing;
}

#modal-img-caption h3 {
  flex: auto;
  margin: 0;
  height: $modal-caption-height;
  padding: 0 $std-spacing $std-spacing $std-spacing;
}

#close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 32px;
  width: 32px;
  text-align: center;
}

#prev-btn-modal, #next-btn-modal, #close-btn {
  margin: $std-spacing;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

/**
  Footer styles
 */

footer {
  height: $header-height;
  background-color: $accent-color-dark;
}

.footer-content {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
}

.footer-content a {
  color: white;
  text-decoration: none;
  padding: 0 $std-spacing;
}
